* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Proxima Nova Light", sans-serif;
  color: #262626;
}

.button-o {
  border: 2px solid #507fe1;
  padding: 17px 22px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Proxima Nova Semibold", sans-serif;
  border-radius: 5px;
  color: #507fe1;
}

.button {
  border: none;
  text-transform: uppercase;
  padding: 25px 45px;
  background-color: #507fe1;
  color: #fff;
  font-weight: bold;
  margin-left: 30px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}

.navbar_mobile, .navbar_landline {
  text-align: right;
}

.navbar_phone {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  font-family: "Proxima Nova Semibold", sans-serif;
  text-decoration: none;
  color: #262626;
}

.navbar .navbar_smail-text {
  display: block;
  font-size: 14px;
  color: #7b7b7b;
  text-decoration: none;
}

.navbar .menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.2);
  border-left: 1px solid rgba(81, 11, 186, 0.2);
  height: 80px;
  width: 70px;
}

.navbar .menu-button_line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #89a9eb;
  margin: 3px 0;
}

.navbar .logo_text {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.navbar .logo_description {
  display: block;
  font-size: 14px;
  color: #7b7b7b;
}

.hero {
  background: #f1f1f1 url(../img/hero_bg.png) no-repeat center right;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 150px;
}

.hero_title {
  margin-bottom: 40px;
}

.hero_subtitle {
  display: block;
  margin-bottom: 70px;
  font-family: "Proxima Nova Semibold", sans-serif;
}
/*# sourceMappingURL=style.css.map */