.catalog {
  background-color: #f2f2f2;
  &-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-card {
    max-width: 570px;
    //flex-basis: 50%;
    position: relative;
    //border: 1px solid red;
    box-shadow: 7px 7px 21px rgba(0, 0, 0, 0.2);
    margin: 1em 0.4em;
    &_button {
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    &_teg {
      position: absolute;
      top: 9px;
      left: 7px;
      background-color: $primary;
      // background-color: $primary,60%;
      padding: 8px 14px;
      color: #ddd;
      font-size: 1em;
    }
    &_image {
      display: block;
    }
  }

  &-link {
    text-align: center;
    margin-top: 50px;
  }
  &_link-more {
    display: inline-block;
  }
  &_description {
    display: block;
    margin-top: 2rem;
  }
}

@media (max-width: 1190px) {
  .catalog {
    &-block {
      justify-content: center;
    }
    &-card {
      max-width: 470px;
    }
  }
}
