.contacts {
  &__link {
    text-decoration: none;
    color: $text-color;
  }
  &__image {
    margin-bottom: 10px;
  }
  &__text {
    font-size: 16px;
  }
  &__address {
    font-style: normal;
  }
  &-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;

    &__item {
      flex-basis: 33%;
      text-align: center;
    }
    a {
      cursor: pointer;
    }
  }

  &__img {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .contacts {
    &__address {
      max-width: 170px;
      margin: auto;
    }
    &-block {
      display: block;
      &__item {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
}
