.footer {
  background-color: #222;
  color: #fff;
  padding: 40px 0;
  a {
    color: #fff;
    text-decoration: none;
  }
  h4 {
    margin: 0;
    padding: 0;
  }
  &-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    //padding: 1em;
  }
  &_title {
    margin-bottom: 8px;
    font-size: 18px;
    text-transform: uppercase;
    @include bold;
  }
  &_subtitle {
    display: block;
    margin-bottom: 40px;
  }
  &_copy {
    color: #777;
  }
  &_pay-logo {
    margin: 15px;
  }
  &-contacts {
    text-align: right;
  }
  &_phone {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    @include bold;
  }
  &_mail {
    display: block;
    margin-bottom: 20px;
  }
}
