.hero {
  display: block;
  background: #f1f1f1 url(../img/hero900_bg.png) no-repeat center center;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 200px;

  &_title {
    font-size: 24px;
    margin-bottom: 40px;
  }
  &_subtitle {
    display: block;
    font-size: 24px;
    margin-bottom: 60px;
    @include bold;
  }
}
