.hero {
  display: block;
  background: #f1f1f1 url(../img/hero2_bg.png) no-repeat center top 80px;
  background-size: contain;
  //margin-top: 80px;
  padding-top: 120px;
  padding-bottom: 270px;

  &_title {
    font-size: 1.5em;
    margin: 40px 0 40px 0;
  }
  &_subtitle {
    display: block;
    font-size: 1.2em;
    @include bold;
    margin-bottom: 60px;
  }
}
