.hero {
  background: #f1f1f1 url(../img/hero_bg.png) no-repeat center right;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 150px;

  &_title {
    //font-size: 30px;
    margin-bottom: 40px;
  }
  &_subtitle {
    display: block;
    //font-size: 30px;
    margin-bottom: 70px;
    @include bold;
  }
}
