.navbar {
  // position: fixed;
  // width: 100%;
  // top: 0;
  // left: 0;
  &-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    //border: 1px solid red;
  }

  &_mobile,
  &_landline {
    text-align: right;
  }
  &_phone {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    @include bold;
    text-decoration: none;
    color: $text-color;
  }
  .navbar_smail-text {
    display: block;
    font-size: 14px;
    color: $text-color-light;
    text-decoration: none;
  }
  .menu {
    &-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      border-right: 1px solid rgba(#510bba, 0.2);
      border-left: 1px solid rgba(#510bba, 0.2);
      height: 80px;
      width: 70px;

      &_line {
        display: block;
        width: 20px;
        height: 3px;
        background-color: #89a9eb;
        margin: 3px 0;
      }
    }
  }
  .logo {
    &_text {
      display: block;
      margin-bottom: 5px;
      font-size: 20px;
      text-transform: uppercase;
      @include bold;
    }
    &_description {
      display: block;
      font-size: 14px;
      color: $text-color-light;
    }
  }
}
