.offer {
  padding: 100px 0;
  &-block {
    background-color: #fff;
    padding: 80px;
  }
  &_title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &_subtitle {
    display: block;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .form {
    &_row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 900px;
    }
    &_label {
      display: block;
      font-size: 16px;
      margin-bottom: 15px;
    }
    &_group {
      flex-basis: 33.33%;
    }
    &_input {
      width: 100%;
      border-right: 0px;
      &:last-child {
        border-right: 1px;
      }
    }
  }
}
