.offer {
  display: block;
  padding: 80px 0;

  &-block {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    background: #fff url(../img/fu-1.png) no-repeat right bottom;
    background-size: 41%;
    padding: 48px;
    margin-top: -200px;
    width: 90%;
  }
  &_title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &_subtitle {
    display: block;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .form {
    &_row {
      display: flex;
      //justify-content: space-between;
      align-items: center;
      max-width: 900px;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &_label {
      display: block;
      font-size: 16px;
      margin-bottom: 15px;
    }
    &_group {
      flex-basis: 33.33%;
    }
    &_input {
      width: 100%;
      border-right: 0;
      &:last-child {
        border-right: 1px solid #ddd;
      }
    }

    &_button {
      height: 80px;
      width: 100%;
    }
  }
}
